/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --Inter: 'Inter-Variable';
    --PresS2P: 'PressStart2P';
    --Font-W400: 400;
    --Font-W410: 410;
    --Font-W715: 715;
    --Grid-Gradient: 
        repeating-linear-gradient(
        to right,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ),
        repeating-linear-gradient(
        to bottom,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
        ),
        linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a
        );
    --Inline-clamp: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
    --H1-clamp: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --H2-clamp: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --Main-Bg-Color: #fff;
    --Border-Color: #000;
    --Font-S18: 18px;
    --Heart-Fill-Color: #ff0000;
}
